apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: lychee-pvc-photo
  labels:
    app: lychee
    tier: frontend
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: wcp-storage-general

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: lychee-web
  labels:
    app: lychee
    tier: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lychee
      tier: frontend
  minReadySeconds: 10
  template:
    metadata:
      labels:
        app: lychee
        tier: frontend
    spec:
      containers:
      - name: lychee
        image: davlloyd/lychee-web:latest
        imagePullPolicy: Always
        env:
        - name: DB_HOST
          value: lychee-mysql
        - name: DB_NAME
          valueFrom:
            configMapKeyRef:
              name: lychee-config
              key: db_name
        - name: DB_USER
          valueFrom:
            configMapKeyRef:
              name: lychee-config
              key: db_user
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: lychee-secret
              key: password
        ports:
        - containerPort: 80
          name: lychee
        volumeMounts:
        - name: lychee-volume-photos
          mountPath: /photos
        - name: config-file
          mountPath: /config/lychee/config.php
          subPath: config.php
        - name: config-file
          mountPath: /config/lychee/user.ini
          subPath: user.ini
      volumes:
      - name: lychee-volume-photos
        persistentVolumeClaim:
          claimName: lychee-pvc-photo      
      - name: config-file
        configMap:
          name: lychee-config

---

kind: Service
apiVersion: v1
metadata:
  name: lychee-web-service
  labels:
    app: lychee
    tier: frontend
spec:
  externalTrafficPolicy: Cluster
  selector:
    app: lychee
    tier: frontend
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 80
  - name: https
    port: 443
    protocol: TCP
    targetPort: 443
  #sessionAffinity: None
  sessionAffinity: ClientIP
  type: LoadBalancer
